<!DOCTYPE html>
<html lang="en">
<body>
<section id="content">
    <div class="wrapper doc">
        <article>
            <h2>Welcome to Liviu Enescu Assesment!</h2>
            <p>This application expose below endpoint:</p>
            <p>
                <a href="http://localhost:9000/sample_data"> http://localhost:9000/sample_data</a> <br>
                <a href="http://localhost:9000/filter_data"> http://localhost:9000/filter_data</a> <br>
                <a href="http://localhost:9000/crimes_by_location"> http://localhost:9000/crimes_by_location</a> <br>
                <a href="http://localhost:9000/crimes_by_crime_type"> http://localhost:9000/crimes_by_crime_type</a> <br>
            </p>
        </article>
    </div>
</section>

</body>

</html>